*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}
.catalog-container{
    width: 1280px;
    margin: auto;
    padding: 0 50px;
}
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
}
.decorator_left_top{
    flex:3;
    border-left: 5px solid #fbd95200; 
}

.decorator_right_bottom{
    background-color: #fbd95200;  
    flex:3;
}
.top_bar{
    display: flex;
    margin-top: 120px;
}
.catalog_yellow_bar{
    width: 362px;
    background-color: #fbda52;
    height: 876px;
}
.top div{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    font-weight: bold;
    font-style: italic;
    color: #4f2c59;
    padding: 53px 4px 0px 12px;
}
.top_image .image{
    width: 571px;
    height: 378px;
    background-image: url("../images/kitchen.jpg");
    margin: auto;
    margin-bottom: 20px;    
}
.top_image div{
    text-align: center;
    margin: auto;
}
.top_image_cont{
    height: 410px;
    width: 69%;    
}

.top_image{
    flex: 3;
}
.catalog_yellow_bar .top{
    background-color: rgb(255, 255, 255);
    height: 254px;
    width:100%;
}
.small_image{
    display: flex;
    flex-wrap:wrap;
    margin-top: 70px;
    
}
.small_image .image{
    width: 360px;
    height: 348px;
    background-image: url("../images/kitchen.jpg");
    margin: auto;
    margin-bottom: 20px;
}
.small_image_left{
    margin: 0 32px;
}
.main_small_image_mid{
    margin: 35px 32px;
    text-align: center;
}
.main_small_image_left, .main_small_image_right{
    margin: 35px 0 35px 0;
}
.main_small_image_left div, .main_small_image_right div{
    text-align: center;
}